
\.idea/

next202/__pycache__/

publishing/__pycache__/

publishing/migrations/__pycache__/

publishing/migrations/

news/__pycache__/

news/migrations/__pycache__/

news/migrations/

__pycache__/

manage/migrations/

*.pyc

modules/migrations/

next202/settings\.py
