{% load static %}
<html lang="pl">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj zdjęcie</title>



</head>
<body>

    <form enctype='multipart/form-data' action="{{ action }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="editor">I tu mamy coś</div>
        <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/inline/ckeditor.js"></script>
            <script>
        InlineEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
        <input class='for' type="submit" value="ok">
    </form>

    {% for photo in photos %}
        <div class="pull-left">
          <a href="/static/media/{{ photo.id }}"><img class="imgs-view " src="{% static photo.photo.url %}"></a>
        </div>
    {% empty %}
        <p>brak zdjęć</p>
    {% endfor %}

</body>
</html>