{% load static %}
<div class="col-md-6 col-md-push-3">
    <div class="wrap">

        {% for post in posts %}

        <article class="blog-entry">
            <div class="blog-wrap">
                <span class="category text-center"><a href="blog.html">Fashion</a> | <a href="blog.html">Lifestyle</a></span>
                <h2 class="text-center"><a href="blog.html"> {{ post.title }}</a></h2>

                {% if post.photo_set.count == 1%}
                <div class="blog-image">
                    <a href="{% static post.photo_set.first.photo.url %}" class="blog-img text-center" style="background-image: url({% static post.photo_set.first.photo.url %});"><span><i class="icon-link"></i></span></a>
                    <ul class="share">
                        <li class="text-vertical"><i class="icon-share3"></i></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-googleplus"></i></a></li>
                    </ul>
                </div>

                {% elif 1 == 1 %}
                    <div class="blog-image">
                        <div class="owl-carousel owl-carousel2 blog-item">
                         {% for photo in post.photo_set.all %}
                            <div class="item">
                                <a href="{% static photo.photo.url %}" class="blog image-popup-link" style="background-image: url({% static photo.photo.url %});">
                                </a>
                            </div>

                        {% endfor %}

                        </div>
                         <ul class="share">
                            <li class="text-vertical"><i class="icon-share3"></i></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-googleplus"></i></a></li>
                        </ul>
                    </div>



                {% endif %}





                <span class="category text-center"><a href="blog.html"><i class="icon-calendar3"></i>{{ post.publish_date }}</a> | <a href="blog.html" class="posted-by"><i class="icon-user2"></i> {{ post.author }}</a> | <a href="blog.html"><i class="icon-bubble3"></i> 5 Comments</a></span>
            </div>
            <div class="desc">
                <p class="first-letra">{{ post.lead|safe }}</p>
            </div>
            <p class="text-center"><a href="blog.html" class="btn btn-primary btn-custom">Continue Reading</a></p>
        </article>
        {% endfor %}

        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

